# Exclude Unreal Engine binaries and intermediate files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
W:/Program Files/Epic Games/UE_5.5/
# Exclude Engine and Plugin files
/Engine/
/Plugins/

# Fichiers de configuration spécifiques à l'utilisateur
*.user
*.userprefs
*.ide

# Fichiers de build
Build/

# Fichiers de cache et de projet
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Fichiers d'éditeurs
.vscode/
.vs/
.idea/

# Fichiers macOS
.DS_Store

# Fichiers de logs
*.log
check.sh
*.sh
